# Typology (friends)

In [1]:
import numpy as np
import pandas as pd

In [2]:
friends = pd.read_csv('/Users/melissawessel/Documents/dev/python/personality/traitResults.csv',
           index_col=0)

In [3]:
friends

            O   C   E   A   N
Brandon    73  18  85   1  19
Dad        55  16  72   1  10
Melissa    93  30  45  70  57
Karen      58  31  61  33  16
Nicole     91   6  85  60  52
Mollie      1  85  86  90   1
Jonny      30  20  14  24  95
Mom        54  30  77  29  40
Katie      65  97  85  83  14
Maxx       62  42  53  46  17
Kayla      95  48  85  64  66
Sam        95  22  68  16  59
Lexi       49  81  32  70  80
Monica     62  29  39  21  72
Luke       55  48  29  19  47
Catherine  71  42  19  43  36
Danny      83  18  61   4  85
Hannah     22  77  71  64  26
Sadia      97  20  88  33  59
Kim2       81  67  61  60  57

In [8]:
ceiling = 84
floor = 16
sd = 34.1
third = 30

In [4]:
friends[['Idealist','Coordinator','Extravert','Humanitarian','Neurotic']] = friends-50

In [5]:
friends

,O,C,E,A,N,Idealist,Coordinator,Extravert,Humanitarian,Neurotic
Brandon,73,18,85,1,19,23,-32,35,-49,-31
Dad,55,16,72,1,10,5,-34,22,-49,-40
Melissa,93,30,45,70,57,43,-20,-5,20,7
Karen,58,31,61,33,16,8,-19,11,-17,-34
Nicole,91,6,85,60,52,41,-44,35,10,2
Mollie,1,85,86,90,1,-49,35,36,40,-49
Jonny,30,20,14,24,95,-20,-30,-36,-26,45
Mom,54,30,77,29,40,4,-20,27,-21,-10
Katie,65,97,85,83,14,15,47,35,33,-36
Maxx,62,42,53,46,17,12,-8,3,-4,-33
Kayla,95,48,85,64,66,45,-2,35,14,16
Sam,95,22,68,16,59,45,-28,18,-34,9
Lexi,49,81,32,70,80,-1,31,-18,20,30
Monica,62,29,39,21,72,12,-21,-11,-29,22
Luke,55,48,29,19,47,5,-2,-21,-31,-3
Catherine,71,42,19,43,36,21,-8,-31,-7,-14
Danny,83,18,61,4,85,33,-32,11,-46,35
Hannah,22,77,71,64,26,-28,27,21,14,-24
Sadia,97,20,88,33,59,47,-30,38,-17,9
Kim2,81,67,61,60,57,31,17,11,10,7

In [6]:
friends[['Realist','Chaotic','Introvert','Stubborn','Unbothered']] = 50-friends[['O','C','E','A','N']]

In [9]:
friend_types = friends[friends>third].drop(columns=['O','C','E','A','N'])

In [11]:
friend_types = friend_types.idxmax(axis=1).fillna('Balanced').sort_values()

In [21]:
friends['Neurotic'][friends['Neurotic']>20]

Jonny     45
Lexi      30
Monica    22
Danny     35
Name: Neurotic, dtype: int64

In [23]:
friends['Unbothered'][friends['Unbothered']>20]

Brandon    31
Dad        40
Karen      34
Mollie     49
Katie      36
Maxx       33
Hannah     24
Name: Unbothered, dtype: int64

In [12]:
friend_types

Hannah          Balanced
Mom             Balanced
Monica          Balanced
Nicole           Chaotic
Katie        Coordinator
Lexi         Coordinator
Kim2            Idealist
Melissa         Idealist
Sadia           Idealist
Kayla           Idealist
Sam             Idealist
Catherine      Introvert
Jonny           Neurotic
Mollie           Realist
Danny           Stubborn
Brandon         Stubborn
Dad             Stubborn
Luke            Stubborn
Karen         Unbothered
Maxx          Unbothered
dtype: object